.container {
/* 	background-color: green; */
	/* width: 100%; */
	max-width: 100vw;
	height: 100vh;
	padding: 0;


}
.image{
	background-color: violet;
	padding: 0;
	margin: 0;
	
}
.image img{
	width: 100%;
	display: block;
}

.box2{
	
	background-color: rgb(57, 13, 113);
	padding: 0%;
	margin: 0;
	width: 100vw;

	
}
.description{
	/* background-color: red; */
	padding: 0;
	margin: 0;
	width: 100vw;
}

.productCart{
	/* background-color: greenyellow; */
	margin: 5%;
	padding: 10%;

}
.productCart h2{
	font-size: 45px;
	border-bottom-style: groove;
	padding: 2%;
}
.productCart img{
	width: 300px;
}

.box{
	margin-top: 2%;
}
h1{
    font-size: 70px;
    font-weight: 400;
}
h6{
	
	color: rgba(0, 0, 0, 0.700);
}